<footer>
    <hr>
    <div class="container">
        <div class="text-center">
            <a href="https://www.linkedin.com/in/gloriane-tran-ab8592a7/" target="_blank"><i class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="https://github.com/glorianetran" target="_blank"><i class="fa fa-github-square fa-3x social"></i></a>
            <a href="mailto:glorianetran@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a>
            <br>
            <br>
            <p class="rufina">Copyright © Gloriane Tran 2017</p>
        </div>
    </div>
</footer>