<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <link href="/stylesheets/index.css" rel="stylesheet">
	</head>
	
    <body>
        
        <% include partials/nav%>
        
        <div class="jumbotron">
            <h1 class="text-center rufina">Hi, I'm Gloriane.</h1>
            <strong><hr class="style"></strong> 
            <br>
            <div class="text-center rufina">
                <a href="/about" class="button">Learn About Me</a>
                <a href="mailto:glorianetran@gmail.com" class="button">Contact Me</a>
            </div>    
        </div>
        
        <div class="container">
            <div class="margin">
                <div class="home-header">
                    <h2 class="home-header rufina">Greetings Visitor.</h2>
                </div>
                <br>
                <div class="home-text oxygen">
                    My name is Gloriane Tran and I am a senior studying Computer Science at Mills College in Oakland, CA. 
                    Currently I am pursuing a job in mobile or web development. 
                    Some of my passions are thinking of new app ideas, learning about third party libraries, 
                    spending time with my loved ones, improving my general knowledge, tasting new foods,
                    and admiring the beauty of giraffes (and all animals). 
                </div>
            </div>
        </div><!--end .container-->
        
	</body>
	
	<% include partials/footer%>
	
</html>