<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <link href="/bootstrap/css/project.css" rel="stylesheet">
	</head>
    <body>
        <% include partials/nav%>
        
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center rufina">Projects</h2>
                <strong><hr class="style"></strong> 
            </div>
        </div>
        
        <div class="container">
            <div class="margin">
              
            </div>
        </div>

	</body>
	
	<% include partials/footer%>
	
</html>